# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode user-specific files
xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

